/* Nav Section */
.nav {
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(5,5,88,1) 34%, rgba(0,212,255,1) 100%);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 20px;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-container img {
  width: 50px;
  margin-right: 10px;
}

.logo-container h3 {
  font-size: 1.25rem;
  font-weight: 700;
}

/* Form Section */
.form-container {
  padding: 36px;
}

.form {
  display: grid;
  grid-template: 40px 40px / 1fr 1fr;
  gap: 17px;
  row-gap: 40px;
}

.form-input {
  border-radius: 5px;
  border: 1px solid #D5D4D8;
  text-indent: 10px;
  height: 35px;
  width: 100%;
  margin-top: 5px;
}

.form-btn {
  grid-column: 1 / -1;
  border-radius: 5px;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(5,5,88,1) 34%, rgba(0,212,255,1) 100%);
  color: white;
  border: none;
  cursor: pointer;
}

.meme-img {
  padding-top: 10px;
  max-width: 100%;
}